html, body{
    overflow-x: hidden;
}

body {
    background-image: url("../img/4685.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: initial;
    font-family: "cursive";
}

.mt-7{
    margin-top: 80px;
}

.navbar{
    background: transparent;
}

.nav-link{
    font-size: 18px;
}

.nav-link:hover{
    color: #1a1055 !important;
}

.logo-size{
    width: 170px;
}

.text-blue{
    color: #1a1055;
}

.font-15{
    font-size: 15px;
}

.font-20{
    font-size: 20px;
}

.custom-top{
    margin-top: 100px;
}





.custom-card{
    width: auto;
    height: auto;
    margin: 25px 35px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.custom-card:hover{
    transform: scale(1.1);
}

.custom-img{
   width: 200px;
   height: 150px;
    box-shadow: 0px 0px 20px 5px rgba(113, 126, 195, 25);
}

.btn-login{
    background-color: #1a1055;
    color: #DDDDDD;
    padding: 10px 35px;
    border-radius: 30px;
}

#footer{
    margin-top: 120px;
    padding-top: 20px;
    background-color: #495681;
    font-size: 18px;
}

#footer ul li{
    list-style-type: none;
    list-style: none;
    padding-top: 10px;
}

#footer a{
    color: #DDDDDD;
    font-size: 17px;
    margin: 10px 5px;
}

.custon-icon{
    color: #1a1055;
    margin-right: 7px;
}

